@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="text-center">
        <h1>Design Source</h1>
        <p class="lead">We lead the industry in modern designed applications for the web, mobile and desktop frameworks.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
   <div class="col-md-12 text-center">
       <h1>Our Services</h1>
   </div>
<div class="row">
    <div class="col-md-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
             alt="Generic placeholder image" width="140" height="140">
        <h2>Web</h2>
        <p>
            Specializing in the latest ASP.NET MVC 5, our team is ready to build our your idea for the web. We are capable and willing to build
            applications of all sizes from enterprise to personal website and will have a dedicated person to work with you through your ideas
            for the web.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
             alt="Generic placeholder image" width="140" height="140">
        <h2>Mobile</h2>
        <p>
            Most of our previous work has been with iOS applications but we also work with Android development or cross platform frameworks like Xamarin.
            We are committed to helping build the mobile app that will launch your company into success, and strive for greatness. 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
             alt="Generic placeholder image" width="140" height="140">
        <h2>Desktop</h2>
        <p>
            Whether you are looking to build an in house finacial tool or just make working on your desktop or laptop a bit more practicle, we are here to help build out your vision.
            Creating desktop applications in numerous frameworks like the latest ASP.NET MVC 5, to Java or even Command Line. 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
</div>

<div class="container">
    <div class="col-md-12 text-center">
        <h1>Our Process</h1>
    </div>
    <!---I need to change this section to be more verticle if I want to keep the arrows otherwise I should number them and box them in cards to keep them ordered and contained-->
    <div class="row">
        <div class="col-md-6">
            <h3>Meet with solutions expert</h3>
            <p>
                First to get a better of an idea of what your requirements for a project, we will have you meet with one of our solutions experts to get a full understanding of
                what you are wanting out of a project. 
            </p>
        </div>
        <div class="col-md-6">
            <h3>Price estimate and contract</h3>
            <p>
                After getting a complete understanding on your project we will draft up a contract and give our price estimate. This contract is negotiable until signed and any
                notices on timing or additional materials should be stated before the signing of the contract. 
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Submission of required materials</h3>
            <p>
                To allow us to start working and not delay the process, before we really dive deep into the development of your project we will need the materials required to 
                make your project become a reality. This includes any photos, text, videos or other forms of media. 
            </p>
        </div>
        <div class="col-md-6">
            <h3>Bi-weekly meetings on progress</h3>
            <p>
                To allow you to have a full insight in how the project is progressing we like to hold bi-weekly meetings. In these meetings it is crucial that you give us feedback 
                on the product. If you don't like the logo or how the page looks, let us know. Please be wary of your contract, we will not go over the number of changes alotted in
                the original contract. 
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Submission of work</h3>
            <p>
                After seeing the progress, approving the product, and paying any final payments, we can submit the project to the neccesary application stores for you under your 
                account or we can send you the project directly. We will always give you the source code of the product, after that point, it is your responsibility to backup and
                save that code. 
            </p>
        </div>
    </div>
</div>