
@{
    ViewBag.Title = "Mobile";
}

<div class="jumbotron">
    <div class="text-center">
        <h1>Mobile</h1>
    </div>
</div>

<div class="container">
    <div class="col-md-6">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
              alt="Generic placeholder image" width="140" height="140">
        <h2>iOS</h2>
        <p>
            We have team members who are fluent in all versions of the latest Apple programming languange,
            Swift. We make applications to allow for backwards compatibility and if requested we will make
            the app in Objective-C. We can make your latest game idea with game kit or scene kit. 
        </p>
    </div>
    <div class="col-md-6">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
             alt="Generic placeholder image" width="140" height="140">
        <h2>Android</h2>
        <p>
            We have team members who are fluent in all versions of the latest Apple programming languange,
            Swift. We make applications to allow for backwards compatibility and if requested we will make
            the app in Objective-C. We can make your latest game idea with game kit or scene kit. 
        </p>
    </div>
    <div class="col-md-12">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
             alt="Generic placeholder image" width="140" height="140">
        <h2>Xamrin</h2>
        <p>
            We have team members who are fluent in all versions of the latest Apple programming languange,
            Swift. We make applications to allow for backwards compatibility and if requested we will make
            the app in Objective-C. We can make your latest game idea with game kit or scene kit. 
        </p>
    </div>
</div>